@page "/secondpage"

<PageTitle>Second page</PageTitle>

<div class="center">

<h1>Politician project page</h1>

</div>

<a target="_blank" href="http://polityk.filiprosochacki.vxm.pl/" class="btn btn-primary center"> Go to this page</a>
<br />

<BlazorStrap.BSCarousel NumberOfItems="@items.Count">
    <div class="carousel-inner">
        @for(int i=0; i<items.Count; i++)
        {
            <BlazorStrap.BSCarouselItem Src="@items[i].Source" Alt="@items[i].Alt" style="width:100%;height:50%;object-fit:cover;object-position:bottom" />
        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count" />
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count" />

</BlazorStrap.BSCarousel>



@code {
    IList<Item> items = new List<Item>
    {
        new Item{
            Source="/images/polityk/polityk.png",
            Alt="First Slide",
            Caption="Slide 1",
            Header="Slide 1 Header"
        },
            new Item{
            Source="/images/polityk/polityk2.png",
            Alt="Second Slide",
            Caption="Slide 2",
            Header="Slide 2 Header"
        },
            new Item{
            Source="/images/polityk/polityk3.png",
            Alt="Third Slide",
            Caption="Slide 3",
            Header="Slide 3 Header"
        }
    };


    class Item
    {
        public string Source { get; set; } = "";
        public string Alt { get; set; } = "";
        public string Caption { get; set; } = "";
        public string Header { get; set; } = "";
    }
}
